:root{
    --green-main:  #28A745;
    --green-hover: #2EBF4F;
    --white: #fff;
    --black: #000;
    --hero-overlay: rgba(0,0,0,.5);
    --photo-overlay: rgba(04,04,04,.5);
    --blog-background: #0284D0;
    --form-color: #F4F4F4;
    --footer-background: #F4F4F4;
    --text-color:#333;

}
