<section class="blog">
        <div class="blog-block">
            <div class="blog-explain-block">
                <ul class="blog-explain-list">
                    <li class="blog-explain-item">
                        <p class="explain-text">April 16 2022</p>
                    </li>
                    <li class="blog-explain-item">
                        <h3 class="explain-title">Blog Post One</h3>
                    </li>
                    <li class="blog-explain-item">
                        <p class="explain-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?
                        </p>
                    </li>
                    <li class="blog-explain-item">
                        <button class="explain-btn">Read Our Blog</button>
                    </li>
                </ul>
                <picture>
                    <source srcset="./images/home/blog.jpg 1x, ./images/home/blog@2x.jpg 2x">
                    <img src="./images/home/blog.jpg" alt="blog-photo" class="blog-photo">
                </picture>
            </div>
        </div>
</section>