

<section class="callback" id="contact">
        <picture>
            <source srcset="./images/home/contact.jpg 1x,
                            ./images/home/contact@2x.jpg 2x
                            ./images/home/contact.webp 1x,
                            ./images/home/contact@2x.webp 2x">
            <img src="./images/home/contact.jpg" alt="contact-photo" class="contact-photo">
        </picture>
        <div class="form-block">
          <h3 class="form-title">Request Callback</h3>
          <div id="root">
            <form action="" class="callback-form" data-netlify="true">
              <div class="input-cover">
              <input type="text" class="js-input-name js-input" id="inp"/>
              <label for="" class="input-text">Enter Your name</label>
              </div>
            <div class="input-cover">
            <input type="email" class="js-input-email js-input" id="inp"/>
            <label>Enter Your Email*</label>
            </div>
          <span class="error-text">
            <svg class="err-icon" width="16px" height="16px">
              <use href="./images/symbol-defs.svg#icon-warning-sign-svgrepo-com"></use>
            </svg>
            Fields must be required!
          </span>
          <button class="form-btn js-button">Send</button>
      </form>
          </div>
        </div>

</section>

<!--Modal-->
<div class="modal backdrop">
  <div class="modal-content">
    <h4 class="modal-title">Thank you!</h4>
    <p class="modal-text">Your form submission has been recieved</p>
    <a href="" class="modal-link"> &#8592; Back to our site</a>
  </div>
</div>
