<section class="cases" id="cases">
        <ul class="cases-list">
            <li class="cases-item">
               <p class="cases-text">This is what we do</p> 
            </li>
            <li class="cases-item">
                <h3 class="cases-title">Business Cases</h3>
            </li>
            <li class="cases-item">
                <p class="cases-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
            </li>
        </ul>
        <div class="wrapper">
            <a class="cases-link" data-title="Lorem ipsum dolores" data-lightbox="cases" href="./images/cases/cases1.jpg">
                <picture class="cases-pic">
                    <source srcset="./images/cases/cases1.jpg 1x,
                                    ./images/cases/cases1@2x.jpg 2x
                                    ./images/cases/cases1.webp 1x,
                                    ./images/cases/cases1@2x.webp 2x">
                    <img src="./images/cases/cases1.jpg" alt="case1-photo" class="case-photo">
                </picture>
            </a>
            <a class="cases-link" data-title="Lorem ipsum dolores" data-lightbox="cases" href="./images/cases/cases2.jpg">
                <picture class="cases-pic">
                    <source srcset="./images/cases/cases2.jpg 1x, 
                                    ./images/cases/cases2@2x.jpg 2x
                                    ./images/cases/cases2.webp 1x, 
                                    ./images/cases/cases2@2x.webp 2x">
                    <img src="./images/cases/cases2.jpg" alt="case2-photo" class="case-photo">
                </picture>
            </a>
            <a class="cases-link" data-title="Lorem ipsum dolores" data-lightbox="cases" href="./images/cases/cases3.jpg">
                <picture class="cases-pic">
                    <source srcset="./images/cases/cases3.jpg 1x, 
                    ./images/cases/cases3@2x.jpg 2x
                    ./images/cases/cases3.webp 1x, 
                    ./images/cases/cases3@2x.webp 2x">
                    <img src="./images/cases/cases3.jpg" alt="case3-photo" class="case-photo">
                </picture>
            </a>
            <a class="cases-link" data-title="Lorem ipsum dolores" data-lightbox="cases" href="./images/cases/cases4.jpg">
                <picture class="cases-pic">
                    <source srcset="./images/cases/cases4.jpg 1x, 
                    ./images/cases/cases4@2x.jpg 2x
                    ./images/cases/cases4.webp 1x, 
                    ./images/cases/cases4@2x.webp 2x">
                    <img src="./images/cases/cases4.jpg" alt="case4-photo" class="case-photo">
                </picture>
            </a>
            <a class="cases-link" data-title="Lorem ipsum dolores" data-lightbox="cases" href="./images/cases/cases5.jpg">
                <picture class="cases-pic">
                    <source srcset="./images/cases/cases5.jpg 1x, 
                    ./images/cases/cases5@2x.jpg 2x
                    ./images/cases/cases5.webp 1x, 
                    ./images/cases/cases5@2x.webp 2x">
                    <img src="./images/cases/cases5.jpg" alt="case5-photo" class="case-photo">
                </picture>
            </a>
            <a class="cases-link" data-title="Lorem ipsum dolores" data-lightbox="cases" href="./images/cases/cases6.jpg">
                <picture class="cases-pic">
                    <source srcset="./images/cases/cases6.jpg 1x, 
                    ./images/cases/cases6@2x.jpg 2x
                    ./images/cases/cases6.webp 1x, 
                    ./images/cases/cases6@2x.webp 2x">
                    <img src="./images/cases/cases6.jpg" alt="case6-photo" class="case-photo">
                </picture>
            </a>
        </div>
</section>