<footer class="footer">
        <ul class="social-list">
            <li class="social-item">
                <a href="" class="social-link">
                    <svg class="social-icon footer-icon" >
                        <use
                           href="./images/symbol-defs.svg#icon-icons8-facebook--1">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a href="" class="social-link">
                    <svg class="social-icon footer-icon">
                        <use href="./images/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a href="" class="social-link">
                    <svg class="social-icon footer-icon">
                        <use href="./images/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a href="" class="social-link">
                    <svg class="social-icon footer-icon">
                        <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <span class="footer-text">Copyright © 2022 - FinanceLedger</span>
</footer>