<header class="header">
        <p class="logo">
                <a href="#" rel="noopener noreferrer" class="logo-link">
                    <svg class="logo-icon" width="40px" height="30px">
                        <use href="./images/symbol-defs.svg#icon-fa-solid_book-open"></use>
                    </svg>
                    <span class="logo-alter-color">Finance</span>Ledger</a>
        </p>
        <nav class="nav-menu">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Cases</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>
</header>