<section class="team">
        <ul class="team-text-list">
            <li class="team-text-item">
               <p class="team-text-text">Who we are</p> 
            </li>
            <li class="team-text-item">
                <h3 class="team-text-title">Our Professional Team</h3>
            </li>
            <li class="team-text-item">
                <p class="team-text-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
            </li>
        </ul>
        <div class="team-wrapper">
            <div class="team-member">
                <ul class="team-member-list">
                    <li class="team-member-item">
                        <picture>
                            <source srcset="./images/team/person1.jpg 1x, ./images/team/person1@2x.jpg 2x">
                            <img src="./images/team/person1.jpg" alt="person1-photo" class="person-photo">
                        </picture>
                    </li>
                    <li class="team-member-item">
                        <h3 class="person-name">John Doe</h3>
                    </li>
                    <li class="team-member-item">
                        <p class="person-profession">President</p>
                    </li>
                </ul>
            </div>
            <div class="team-member">
                <ul class="team-member-list">
                    <li class="team-member-item">
                        <picture>
                            <source srcset="./images/team/person2.jpg 1x, ./images/team/person2@2x.jpg 2x">
                            <img src="./images/team/person2.jpg" alt="person2-photo" class="person-photo">
                        </picture>
                    </li>
                    <li class="team-member-item">
                        <h3 class="person-name">Jane Doe</h3>
                    </li>
                    <li class="team-member-item">
                        <p class="person-profession">Vice Presidentt</p>
                    </li>
                </ul>
            </div>
            <div class="team-member">
                <ul class="team-member-list">
                    <li class="team-member-item">
                        <picture>
                            <source srcset="./images/team/person3.jpg 1x, ./images/team/person3@2x.jpg 2x">
                            <img src="./images/team/person3.jpg" alt="person1-photo" class="person-photo">
                        </picture>
                    </li>
                    <li class="team-member-item">
                        <h3 class="person-name">Steve Smith</h3>
                    </li>
                    <li class="team-member-item">
                        <p class="person-profession">Marketing Head</p>
                    </li>
                </ul>
            </div>
        </div>
</section>